body {
    background-color: #1F1D1E;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
.topbar {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
  }

/* ANIMACIÓN MANO*/
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: wave-animation;
  display: inline-block;
  transform-origin: 70% 70%;
}

.hand {
  font-weight:bolder;
  font-size: 90px;
  font-weight: 600;
  /* CON ESTO PONEMOS UNA IMAGEN EN EL CENTRO
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

.container {
  padding: 20px;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }
  
  h1,
  .h1 {
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0px 10px 0px;
  }
  
  h2,
  .h2 {
    font-size: 35px;
    color: #D03880;
  }

  h2.name1 {
    font-family: 'Poppins';
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: white;
  } 

  h2.name2 {
    font-size: 64px;
    color: #D03880;
    margin: 10px 0px 10px 0px;
    line-height: 100%;
  }
  
  h3,
  .h3 {
    font-size: 128px;
  }
  
  h4,
  .h4 {
    font-size: 35px;
    color: #D03880;
  }
  
  p cursiva {
    font-family: 'Poppins' 'light';
    font-size: 14px;
  }

  img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 0px 50px;
  }

/* 01.ABOUT ME */

  .aboutme {
    padding: 20px;
  }

/* 02.EXPERIENCE */
  .experience {
    padding: 0px 20px;
  }

/* BOTONES */
.btn1, .btn2, .btn3 {
  display: flex;
  gap: 10px;
  margin-bottom: 13px;
}

button, .button2,
  .btn {
  line-height: 1.4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 13px;  
  width: 150px;
  height: 53px;
  background: #D03880;
  border-radius: 10px; 
  display: inline-block;
  padding: 15px, 12px, 15px, 12px;
  background-color: #D03880;
  text-decoration: none;
  color: white;
  border: 2px solid #D03880;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 15px;
  }

button:hover,
  .btn:hover {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Poppins', sans-serif, Bold;
    }

/* 03.SKILLS & STRENGHTS */
.skills-strenghts {
  padding: 20px;
}

/* CIRCULOS */

.circle {
  color: #ffffff;
  border: 1px solid #D03880;
  flex: 1 0 20vw;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 20vw;
  height: 20vw;
  font-size: 15px; /* Esto define el tamaño. (16*12.5 = 200px width & height) */
  border-radius: 100%;
  display: flex; /* Los centramos */
  align-items: center; /* Los centramos */
  justify-content: center; /* Los centramos */
  margin: -8px; /* Los arrejuntamos */
}

.container-circle {
  margin: 10px 0px 10px 0px;
  display: flex;
  padding: 30px; /* Igual que el margin negativo para compensar los bordes */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TEXTO SKILLS*/
.skills {
  columns: 2;
  column-gap: 20px;
  column-rule-color: 4px dotted gray;
}

/* 04.CONTACT */
.contact{
  padding: 20px;
}

.img2 {
  width: 150px;
  height: 150px;
  margin: 0px 100px;
}

.btn-rrss{
  display: flex;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px;
  color: #ffffff;
  background-color: #D03880;
  border-radius: 50px;
  border: 2px solid #D03880;
}

/* FORMULARIO */
form{
    font-family: 'Poppins', sans-serif;
    padding: 60px;
    max-width: 900px;
    /*background-color: #D03880;*/
    margin: 0 auto; /* TENGO QUE QUITAR EL MARGIN GENERAL Y PONER PADDING EN CADA UNO DE LOS APARTADOS Y PONER WIDTH EN ESTE */
    max-width: max-content;
  }
  
  form input, form textarea{
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #333333; 
    font-size: 1em;
    resize: none; 
  }
  
  form button {
    display: block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em; 
    color: 	white;
    font-family: 'Poppins', sans-serif;
  }

  form button:hover{
      background-color: #046193;
  }
  
  textarea {  resize: none;}

/* FOOTER */
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* MEDIA QUERIE */

@media screen and (min-width:800px) {
  .topbar{
    font-size: 20px;
    margin: 20px 0px 20px 0px;
  }

  .hand{
    font-size: 150px;
  }

  h2.name1{
    font-size: 60px;
  }

  h2.name2{
    font-size: 80px;
  }

  h1{
    font-size: 30px;
  }

/* ABOUT ME */
  h2{
    font-size: 50px;
  }

  p{
    font-size: 20px;
  }

  .btn1, .btn2, .btn3{
    display: flex;
    gap: 10px;
    margin-bottom: 13px;
    font-size: 22px;
  }
  
  .img2 {
    width: 300px;
    height: 300px;
    margin: 0px 500px;
  }


}
